
<div class='container'>
  <div class='row justify-content-center align-items-center'>
    <div class='col'>
      <form action="/auth" method="GET">
        <button id='login_button' type='submit'>Login With Google</button>
      </form>
    </div>
  </div>
</div>
