
<div class='container'>
  <div class="row">
    <div class='top'>
      <h1>{{title}}{{name}}</h1>
      <h2>Here are your todos</h2>
      <ul>
        {{#each todos}}
          <li>
            <form action="/todos/done/{{id}}" method="POST">
              <button id="submit" name="todo" type='submit'></button><button id="todo" type='button'>{{description}}</button>
            </form>
          </li>
        {{/each}}
      </ul>
    <!-- </div>
    <div class='col-12'> -->
      <h2>Add a new todo</h2>
      <form action="/todos/add" method="POST">
        <input type="text" placeholder='add new todo' name="name">
        <br><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
